<%- include ("templates/head") %> 
<body> 
  <%- include ("templates/Slide") %>
  
  <div class="container position-absolute top-100 start-50 translate-middle">
    
  <div class="col-md-8 mx-auto  ">
    <img src="<%= foto.foto_perfil %> ">
    <form action="/registrar" method="POST" class=" p-4 border rounded-3 bg-light ">
<%= console.log(info); %> 

<div class="row">
  <div class="form-floating mb-3 col ">
  <input type="text" class="form-control" id="floatingInput" name="nombre" value="<%= info.nombre %>"  disabled>
        <label for="floatingInput">Nombre(s)</label>
      </div>
      <div class="form-floating mb-3 col">
        <a class="btn btn-primary" href="" role="button">Agregar Amigo</a>
            </div>
    </div>

      <div class="row">
      <div class="form-floating mb-3 col">
        <input type="text" class="form-control" id="floatingInput" name="apellido_p" value="<%= info.apellido_p %>" disabled>
        <label for="floatingInput">Apellido Paterno</label>
      </div>
    
      <div class="form-floating mb-3 col">
        <input type="text" class="form-control" id="floatingInput" name="apellido_m" value="<%= info.apellido_m %>" disabled>
        <label for="floatingInput">Apellido Materno</label>
    </div>
    </div>
    
        
      <div class="row">
      <div class="form-floating mb-3 col">
        <input type="text" class="form-control" id="floatingInput" name="pais" value="<%= info.pais %>" disabled>
        <label for="floatingInput">País</label>
      </div>
      <div class="form-floating mb-3 col">
        <input type="text" class="form-control" id="floatingInput" name="ciudad" value="<%= info.ciudad %>" disabled>
        <label for="floatingInput">Ciudad</label>
      </div>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="fecha_nac" value="<%= info.fecha_nac %>" disabled>
        <label for="floatingInput">Fecha de Nacimiento</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="estudios" value="<%= info.estudios %>" disabled>
        <label for="floatingInput">Estudios</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="certificaciones" value="<%= info.certificaciones %>" disabled>
        <label for="floatingInput">Certificaciones</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="idiomas"  value="<%= info.idiomas %>" disabled>
        <label for="floatingInput">Idiomas</label>
      </div>
      <div class="form-floating mb-3">
        <input type="url" class="form-control" id="floatingInput" name="linkedin" value="<%= info.linkedin %>" disabled>
        <label for="floatingInput">Perfil de Linkedin</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="Hobbies" value="<%= info.Hobbies %>" disabled>
        <label for="floatingInput">Hobbies</label>
      </div>
      
      
      <hr class="my-4">
    </form>
  </div>
  </div>
  
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
       

      </body>
</html>

